h1, h2 {
    font-size:90px;
}
table#scheda {
    font-size:50px;
}

table#scheda tr td {
    width : 360px;
    border :1px solid black;
    padding:10px;
}

table#scheda tr th {
    background-color:black;
    font-weight: bold;
    color:beige;
    padding:10px;
}

.checkbox {
     transform: scale(2.5);
}