@media (min-width: 1200px) {

	/* Structure > 1200px */
	#wrapper 		{width: 1170px;margin: 0 auto;}
	#header 		{width: 1130px;float:left;padding: 20px 20px 20px 20px;} 
	#mainmenu		{width: 100%;float:left;}
	#main 			{width: 1130px;float:left;padding: 20px 20px 20px 20px;}
	 
}

@media (min-width: 768px) and (max-width: 980px) {

	/* Structure 768 to 1000 */
	#wrapper 		{width: 748px;margin: 0 auto;}
	#header 		{width: 708px;float:left;padding: 20px 20px 20px 20px;} 
	#mainmenu		{width: 100%;float:left;}
	#main 			{width: 708px;float:left;padding: 20px 20px 20px 20px;}
	#content 		{clear: both;}

}


@media (max-width: 767px) {

	/* Structure  < 767 */
	body{padding:10px;background:#fff;}
	#wrapper 		{width:100%;margin: 0 auto;}
	#header 		{width:100%;padding: 20px 0 20px 0px;} 
	#mainmenu		{width:100%;float:left;}
	#main 			{width:100%;float:left;padding: 20px 0 0 0;}
	#content 		{clear: both;}
	img 			{width:70%;margin-left: 15%;justify-content: center;}

	/* Header */
	#site-title a {font-size:23px;margin-left:10px;}
	#mainmenu			{display:none;}
	#mainmenu ul li 	{float: none!important;}
	
	#site-title .icon
	{
		background:url(../image/bandiera_europa_responsive.png) left top;
		width:46px;
		height:32px;
	}
	.btn-responsive-menu{display:block;}	

	tr {
		display: flex;
		flex-wrap: wrap; /* Permette di andare a capo */
	}

	td, th {
		flex: 1 1 100%; /* Inizia occupando il 100% */
	}
		
}

