:root {
    --first-color: #47c6c3;
    --second-color: #222222;
  }
  
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
  
  #content[tabindex="-1"]:focus {
    outline: 0;
  }
  
  body {
    font-family: 'Jost', sans-serif;
    color: #707070;
    margin: 0;
    background: #fff;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: var(--second-color);
  }
  
  a {
    color: var(--second-color);
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: var(--first-color);
    text-decoration: none;
  }
  
  .alignwide {
    margin-right: -80px;
    margin-left: -30px;
  }
  
  .alignfull img {
    width: 100vw;
  }
  
  .post-single a,
  .page-single a,
  .sidebar-area .textwidget a,
  .comment-content a,
  .woocommerce-product-details__short-description a,
  #tab-description a,
  .extra-home-content a {
    text-decoration: underline;
  }
  
  .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
  .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
    margin-right: 0px;
  }
  
  .wp-block-button__link {
    background: var(--first-color);
    color: #fff !important;
  }
  
  .wp-block-button.is-style-outline .wp-block-button__link {
    border: 2px solid var(--second-color);
    color: var(--second-color) !important;
  }
  
  .wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0px!important;
  }
  
  .tag-title h3,
  .tag-title h1 {
    overflow-wrap: anywhere;
  }
  
  
  /* ===============================================
     Post Format
     ============================================= */
  
  .entry-video iframe {
    width: 100%;
  }
  
  
  /* ===============================================
     HEADER BOX
     ============================================= */
  
  #site-navigations {
    background: #f4fffe;
  }
  
  .page-template-frontpage #site-navigations {
    background: transparent;
    position: absolute;
    z-index: 999;
    width: 100%;
    right: 0;
    left: 0;
  }
  
  .social-links span {
    color: #222;
  }
  
  .social-links i {
    background: var(--first-color);
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    color: #fff;
  }
  
  .social-links {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 0 25px 2px #e4e4e4;
  }
  
  .social-links i.fab.fa-facebook-f {
    background: #3764b9;
  }
  
  .social-links i.fab.fa-twitter {
    background: #00b7ff;
  }
  
  .social-links i.fab.fa-instagram {
    background: #f09433;
    background: -moz-linear-gradient(-45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(-45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(-45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
  
  .social-links i.fab.fa-youtube {
    background: #ff0000;
  }
  
  .social-links i.fab.fa-whatsapp {
    background: #25D366;
  }
  
  .phone-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 0 25px 2px #e4e4e4;
  }
  
  .phone-box i {
    font-size: 35px;
    color: var(--first-color);
  }
  
  .phone-box h6 {
    font-weight: normal;
    font-size: 15px;
    color: var(--first-color);
  }
  
  .phone-box p {
    font-size: 18px;
    font-weight: 700;
    color: #222;
  }
  
  
  /* ===============================================
     LOGO BOX
     ============================================= */
  
  .logo {
    padding: 18px 0;
  }
  
  .logo a {
    color: #304a49;
    font-size: 25px;
    line-height: 35px;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
    font-weight: bold;
  }
  
  .logo span {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #707070;
  }
  
  
  /**
  ====================================================================
    Navigation
  ====================================================================
  */
  
  .top-menu-wrapper {
    padding: 10px 0;
  }
  
  .main-navigation ul .menu-item.menu-item-has-children a,
  .main-navigation ul .page_item.page_item_has_children a {
    position: relative;
  }
  
  .main-navigation .menu > li i,
  .menu li i {
    font-size: 15px;
  }
  
  .main-navigation li.current_page_item > a,
  .main-navigation li.current-menu-item > a {
    color: var(--first-color);
    font-weight: 500 !important;
  }
  
  .main-navigation ul li a {
    text-transform: capitalize;
    color: var(--second-color);
  }
  
  .main-navigation ul .menu-item.menu-item-has-children .sub-menu a:after,
  .main-navigation ul .page_item.page_item_has_children .children a:after {
    content: none;
  }
  
  .main-navigation .menu ul {
    margin-bottom: 0px;
    padding: 0px;
  }
  
  .main-navigation .menu li {
    display: inline;
    position: relative;
    list-style: none;
  }
  
  .top-menu-wrapper ul {
    gap: 5px 40px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .main-navigation .menu > li > a,
  .page_item a {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
  }
  
  #site-navigation .page_item_has_children ul li a,
  #site-navigation .main-navigation .menu .menu-item-has-children ul li a {
    font-size: 15px;
    position: relative;
    display: block;
    color: var(--first-color);
    text-align: right;
    padding: 12px 20px !important;
    line-height: 22px;
    font-weight: 500;
  }
  
  #site-navigation .menu ul.sub-menu li a,
  #site-navigation .menu ul.children li a {
    line-height: 1.5;
    font-size: 15px;
  }
  
  nav#site-navigation {
    padding: 0;
  }
  
  .main-navigation ul.sub-menu > li > a,
  .main-navigation ul.children > li > a {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
    transition: color 0.3s ease;
  }
  
  .main-navigation ul.sub-menu > li > a::before,
  .main-navigation ul.children > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--first-color);
    color: #fff;
    z-index: -1;
    transition: right 0.4s ease;
  }
  
  .main-navigation ul.sub-menu > li > a:hover::before,
  .main-navigation ul.sub-menu > li > a:focus::before,
  .main-navigation ul.children > li > a:hover::before,
  .main-navigation ul.children > li > a:focus::before {
    right: 0;
  }
  
  .main-navigation ul.sub-menu > li > a:hover,
  .main-navigation ul.sub-menu > li > a:focus,
  .main-navigation ul.children > li > a:hover,
  .main-navigation ul.children > li > a:focus {
    color: #fff !important;
  }
  
  .main-navigation .menu,
  .main-navigation .menu ul {
    display: flex;
    gap: 5px 40px;
    flex-wrap: wrap;
  }
  
  div#mySidenav {
    display: inline-flex;
  }
  
  .main-navigation .menu > li,
  .main-navigation .menu li {
    display: inline;
    position: relative;
  }
  
  .main-navigation .menu > li > a:hover {
    color: var(--first-color);
  }
  
  .main-navigation .sub-menu,
  .main-navigation .children {
    background-color: #ffffff;
    list-style: none;
    padding-right: 0;
    position: absolute;
    opacity: 0;
    right: -9999px;
    z-index: 99999;
    width: 200px !important;
    border: none;
  }
  
  .main-navigation ul.sub-menu.dropdown-menu {
    border: none;
    border-radius: unset;
  }
  
  .main-navigation .sub-menu > li > a:hover,
  .main-navigation .sub-menu > li > a:focus,
  .main-navigation .children > li > a:hover,
  .main-navigation .children > li > a:focus {
    background: #000;
    color: #fff;
  }
  
  .main-navigation .sub-menu li ul.sub-menu,
  .main-navigation .children li ul.children {
    right: 200px !important;
    top: -1px !important;
  }
  
  .main-navigation .sub-menu > li,
  .main-navigation .children > li {
    display: block;
    float: none;
    position: relative;
    width: 100%;
  }
  
  .main-navigation .sub-menu > li.menu-item-has-children .submenu-expand,
  .main-navigation .children > li.page_item_has_children .submenu-expand {
    display: inline-block;
    position: absolute;
    width: calc( 24px + 1rem);
    left: 0;
    top: calc( .125 * 1rem);
    bottom: 0;
    color: white;
    line-height: 1;
    padding: calc( .5 * 1rem);
  }
  
  .main-navigation .sub-menu > li.menu-item-has-children .submenu-expand,
  .main-navigation .children > li.page_item_has_children .submenu-expand {
    margin-left: 0;
  }
  
  .main-navigation .sub-menu > li > a,
  .main-navigation .sub-menu > li > .menu-item-link-return,
  .main-navigation .children > li > .menu-item-link-return {
    color: #000;
    display: block;
    padding: 14px;
    font-weight: 400;
  }
  
  .main-navigation .sub-menu > li > .menu-item-link-return,
  .main-navigation .children > li > .menu-item-link-return {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
  }
  
  .main-navigation .sub-menu > li > a:empty,
  .main-navigation .children > li > a:empty {
    display: none;
  }
  
  .main-navigation .sub-menu > li.mobile-parent-nav-menu-item,
  .main-navigation .children > li.mobile-parent-nav-menu-item {
    display: none;
    font-size: 0.88889em;
    font-weight: normal;
  }
  
  .main-navigation .sub-menu > li:last-child,
  .main-navigation .children > li:last-child {
    border-bottom: none;
  }
  
  .toggle-nav,
  a.closebtn {
    display: none;
  }
  
  .sub-menu span.dashicons.dashicons-arrow-down-alt2 {
    position: absolute;
    top: 10px;
    left: 0;
  }
  
  .main-navigation .dashicons-arrow-down-alt2:before {
    content: "\f347";
    font-size: 14px;
    color: var(--second-color);
  }
  
  .children.dropdown-menu span.dashicons.dashicons-arrow-down-alt2 {
    position: absolute;
    top: 10px;
    left: 0;
  }
  
  
  /* ===============================================
     POST BOX
     ============================================= */
  
  .post-box {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    padding: 10px;
  }
  
  .post-thumbnail {
    line-height: 0;
  }
  
  .post-box h3.post-title a {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #000000;
  }
  
  .post-content p {
    color: #898d94;
  }
  
  .post-content {
    word-wrap: break-word;
  }
  
  .post-meta i {
    color: var(--first-color);
  }
  
  .post-meta span {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }
  
  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000000;
    white-space: break-spaces;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .post-content img,
  .post-thumbnail img,
  .post-content iframe,
  .post-content object,
  .post-content embed {
    max-width: 100%;
  }
  
  .post-content img,
  .post-thumbnail img {
    max-height: 100%;
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    background: #dfdcdc;
  }
  
  .post-content {
    color: #3c3c3c;
  }
  
  .post-content:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #content,
  footer {
    float: right;
    width: 100%;
  }
  
  .post-meta.my-3 {
    display: flex;
    justify-content: start;
    border-radius: 4px;
    gap: 50px;
  }
  
  .post-meta a {
    color: #000;
  }
  
  .more-btn i {
    font-size: 15px;
    margin-right: 10px;
  }
  
  .blog-grid-layout .post-meta {
    gap: 20px;
  }
  
  
  /*
  ===================================================================================
      02. Related post CSS
  ===================================================================================
  */
  
  .related-post-thumbnail img {
    height: 225px;
    object-fit: cover;
    width: 100%;
  }
  
  .related-post-thumbnail {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 15px;
  }
  
  .related-post-item h4.post-title {
    word-wrap: break-word;
  }
  
  
  /* ===============================================
     Slider
     ============================================= */
  
  .blog_inner_box img {
    height: 800px;
    object-fit: cover;
  }
  
  .blog_inner_box {
    position: relative;
    background: #fff;
  }
  
  .blog_box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60%;
    right: 10%;
    color: #fff;
  }
  
  .blog_box h3 {
    font-size: 50px;
    color: var(--second-color);
  }
  
  p.slider-button a {
    background: var(--first-color);
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
  }
  
  p.slider-button a:hover {
    background: var(--second-color);
  }
  
  a.slide-btn-2 {
    background: #daf1f1 !important;
    padding: 10px 15px;
    color: #000 !important;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
  }
  
  i.fas.fa-hand-point-up.ms-3 {
    color: gold;
  }
  
  .slider .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
  }
  
  .slider button.owl-prev,
  .slider button.owl-next {
    color: #fff !important;
    letter-spacing: 5px;
    position: absolute;
  }
  
  .slider button.owl-prev i,
  .slider button.owl-next i {
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    background: var(--first-color);
  }
  
  .slider button.owl-prev i:hover,
  .slider button.owl-next i:hover {
    background: var(--second-color);
  }
  
  .slider button.owl-prev {
    right: 50px;
  }
  
  .slider button.owl-next {
    left: 50px;
  }
  
  .blog_box p {
    color: var(--second-color);
  }
  
  
  /* ===============================================
     Our Services Section
     ============================================= */
  
  #our_services h6,
  .blog_box h5 {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: var(--first-color);
  }
  
  #our_services h2 {
    font-size: 35px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
  }
  
  .services-box {
    box-shadow: 0 0 20px 2px #dfe7ff;
    border-radius: 15px;
  }
  
  .services-box h3 {
    font-size: 20px;
    margin-bottom: 0;
  }
  
  .services-box img {
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  
  .box-inner {
    padding: 15px;
  }
  
  .box-inner span {
    background: var(--first-color);
    padding: 2px 10px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
  }
  
  
  /* ===============================================
     Cart & Checkout
     ============================================= */
  
  .wp-block-woocommerce-cart .wc-block-cart__submit-button,
  .wc-block-components-checkout-place-order-button,
  .wc-block-components-totals-coupon__button {
    background: var(--first-color);
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 10px;
    border: none !important;
    padding: 10px;
    border: 2px solid transparent;
    width: 50%;
  }
  
  .wc-block-cart__submit-container a {
    font-size: 15px;
    font-weight: 600;
  }
  
  .wp-block-woocommerce-cart .wc-block-cart__submit-button:hover,
  .wc-block-components-checkout-place-order-button:hover {
    border: 2px solid #fff;
    background: #000;
    color: #fff !important;
  }
  
  .wp-block-woocommerce-cart .wc-block-cart-items,
  .wp-block-woocommerce-cart-order-summary-block,
  .wp-block-woocommerce-checkout-order-summary-block {
    border: 1px solid #dee2e6!important;
    padding: 10px;
    border-radius: 10px;
  }
  
  .wp-block-woocommerce-cart .wc-block-cart-items__header-image,
  .wc-block-cart-items__header-total {
    padding: 10px !important;
  }
  
  .wp-block-woocommerce-cart .wc-block-cart .wc-block-cart__submit-container {
    margin-top: 20px;
  }
  
  .wp-block-woocommerce-cart .wc-block-components-product-badge {
    background: var(--first-color);
    color: #fff !important;
    padding: 10px !important;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  a.wc-block-components-product-name,
  .wc-block-components-product-name {
    font-size: 22px !important;
    color: #000 !important;
    text-decoration: none !important;
  }
  
  .wc-block-components-order-summary-item__quantity {
    background-image: linear-gradient(-90deg, #fb6d21 0%, #eb343b 100%) !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .wc-block-components-sidebar-layout .wc-block-components-main {
    padding-left: 0% !important;
  }
  
  .wp-block-woocommerce-cart.alignwide,
  .wp-block-woocommerce-checkout.alignwide.wc-block-checkout {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .wc-block-components-totals-footer-item .wc-block-components-totals-item__value,
  .wc-block-components-totals-footer-item .wc-block-components-totals-item__label,
  .wc-block-components-totals-item__label,
  .wc-block-components-totals-item__value,
  .wc-block-components-product-metadata .wc-block-components-product-metadata__description>p,
  .is-medium table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__total .wc-block-components-formatted-money-amount,
  .wc-block-components-quantity-selector input.wc-block-components-quantity-selector__input,
  .wc-block-components-quantity-selector .wc-block-components-quantity-selector__button,
  .wc-block-components-quantity-selector,
  table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link,
  .wc-block-components-product-price__value.is-discounted,
  del.wc-block-components-product-price__regular {
    color: #000 !important;
  }
  
  .wc-block-components-totals-wrapper:after {
    border-color: #000 !important;
  }
  
  tbody.wc-block-cart-items {
    border: 1px solid #000;
    border-radius: 30px;
  }
  
  .wc-block-components-product-metadata .wc-block-components-product-metadata__description>p,
  button.wc-block-cart-item__remove-link {
    font-size: 16px !important;
  }
  
  .is-medium table.wc-block-cart-items .wc-block-cart-items__row {
    grid-template-columns: 270px 47px !important;
    padding: 16px 16px !important;
  }
  
  .wp-block-woocommerce-cart .wc-block-components-product-badge {
    display: none;
  }
  
  .wp-block-woocommerce-cart .wc-block-cart__submit-button:hover {
    border: unset !important;
  }
  
  a.components-button.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained {
    text-decoration: none;
  }
  
  .wc-block-components-button:not(.is-link) {
    padding: 0px !important;
  }
  
  .wc-block-components-sidebar,
  .wc-block-components-sidebar-layout .wc-block-components-main {
    width: 100% !important;
  }
  
  .wc-block-components-sidebar-layout.wc-block-checkout.is-large {
    flex-flow: column;
    flex-direction: column-reverse;
  }
  
  
  /* ===============================================
     Pagination
     ============================================= */
  
  .woocommerce nav.woocommerce-pagination ul li span.current {
    background: var(--first-color);
    color: #fff;
  }
  
  
  /* ===============================================
     Feature Header Image
     ============================================= */
  
  .feature-header {
    position: relative;
    background-color: #000;
  }
  
  .feature-header img {
    width: 100%;
    height: 300px !important;
    object-fit: cover;
    opacity: 0.4;
  }
  
  h1.post-title.feature-header-title {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    word-break: break-all;
  }
  
  
  /* ===============================================
     Scroll
     ============================================= */
  
  .scroll-up {
    position: fixed;
    bottom: 12px;
    left: 30px;
    z-index: 999;
  }
  
  .scroll-up a {
    background: var(--first-color);
    color: #000;
  }
  
  .scroll-up a:hover {
    background: #0d0d0d;
    color: #fff;
  }
  
  .scroll-up a {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    line-height: 2;
    border-radius: 30px;
    font-size: 1.25rem;
    color: #fff;
    opacity: 1;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  }
  
  .scroll-up span {
    top: 7px;
    position: absolute;
    right: 7px;
    font-size: 25px;
    font-weight: 600;
  }
  
  
  /*===============================================
     Footer Social Icons
  =============================================== */
  
  .copy-text .social-links {
    background: transparent;
    padding: 0;
    border-radius: 15px;
    display: inline-block;
    box-shadow: unset;
  }
  
  
  /*===============================================
     PRELOADER
  =============================================== */
  
  .cssloader {
    padding-top: calc(45vh - 25px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #212121;
    z-index: 99999;
  }
  
  .sh1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 50px;
    border-color: #354952 transparent #ffffff transparent;
    margin: 0 auto;
    animation: shk1 1s ease-in-out infinite normal;
  }
  
  .sh2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent transparent var(--first-color) transparent;
    margin: -50px auto 0;
    animation: shk2 1s ease-in-out infinite alternate;
  }
  
  
  /** animation starts here **/
  
  @keyframes shk1 {
    0% {
      transform: rotate(360deg);
    }
    100% {}
  }
  
  @keyframes shk2 {
    0% {
      transform: rotate(-360deg);
    }
    100% {}
  }
  
  .lt {
    color: #fff;
    margin: 30px auto;
    text-align: center;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  
  /*--------------------------------*/
  
  .loader-main {
    top: 10px;
    position: relative;
    right: -70px;
  }
  
  .triangle35b {
    position: absolute;
    transform-origin: bottom center;
    right: 50%;
    top: 50%;
    margin: 0 auto;
    width: 110px;
    height: 55px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    animation: animTriangle35b 3s linear infinite;
  }
  
  @keyframes animTriangle35b {
    0%,
    14% {
      transform: rotate(calc(-1*(0deg + var(--angle))));
    }
    25%,
    39% {
      transform: rotate(calc(-1*(90deg + var(--angle))));
    }
    50%,
    64% {
      transform: rotate(calc(-1*(180deg + var(--angle))));
    }
    75%,
    89% {
      transform: rotate(calc(-1*(270deg + var(--angle))));
    }
    100% {
      transform: rotate(calc(-1*(360deg + var(--angle))));
    }
  }
  
  .triangle35b:nth-child(1) {
    --angle: 0deg;
    background: var(--first-color);
    animation-delay: 0.4s;
  }
  
  .triangle35b:nth-child(2) {
    --angle: 90deg;
    background: #fff;
    animation-delay: 0.2s;
  }
  
  .triangle35b:nth-child(3) {
    --angle: 180deg;
    background: var(--first-color);
  }
  
  
  /* ===============================================
   STICKY POST
   =============================================== */
  
  .post-box.sticky {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .post-box {
    position: relative;
  }
  
  .sticky .post-thumbnail::before {
    content: '\f08d';
    font-family: "Font Awesome\ 5 Free";
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin-top: 10px;
    z-index: 9;
    position: absolute;
    top: 27px;
    right: 27px;
    transform: rotate(-312deg);
  }
  
  
  /* ===============================================
     Pagination
     ============================================= */
  
  .pagination,
  .professional-cv-resume-pagination {
    margin: 25px 0;
  }
  
  .pagination .nav-links a,
  .pagination .nav-links span.current,
  .professional-cv-resume-pagination a span,
  .professional-cv-resume-pagination span.current {
    display: inline-block;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #f3f4f7;
    position: relative;
    margin: 0;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
  }
  
  .pagination .nav-links a:hover,
  .pagination .nav-links a:focus,
  .pagination .nav-links span.current,
  .professional-cv-resume-pagination span.current,
  .professional-cv-resume-pagination span.current:hover,
  .professional-cv-resume-pagination span.current:focus,
  .professional-cv-resume-pagination a span:hover,
  .professional-cv-resume-pagination a span:focus {
    background: var(--first-color);
    color: #fff;
  }
  
  
  /*--------------------------------------------------------------
  ## Comments
  --------------------------------------------------------------*/
  
  .comment-reply a:focus {
    color: #fff;
  }
  
  .comment-respond input#submit:hover,
  .comment-reply a:hover {
    background: var(--second-color);
    color: #fff;
  }
  
  .comment-form-url input,
  nav.navigation.pagination {
    width: 100%;
  }
  
  .comment-respond input#submit {
    background: var(--first-color);
    border: none;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    border-radius: 30px;
  }
  
  .comment-content a {
    word-wrap: break-word;
  }
  
  .bypostauthor {
    display: block;
  }
  
  .comments-title {
    font-size: 1.125rem;
  }
  
  .comment-body .pull-left {
    padding-left: 0.625rem;
  }
  
  .comment-list {
    padding-right: 0;
  }
  
  .comment-list .comment {
    display: block;
  }
  
  .comment-list .pingback {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.563rem 0;
  }
  
  .comment-list .pingback a {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .comment-content.card-block {
    padding: 15px;
  }
  
  .comment-reply a {
    background: var(--first-color);
    padding: 5px 15px;
    color: #fff;
    border-radius: 30px;
  }
  
  .sidebar-area .wp-block-latest-comments__comment-meta {
    float: none;
    background: transparent;
  }
  
  .sidebar-area .wp-block-latest-comments__comment-meta a {
    color: #2f3235;
  }
  
  ol.wp-block-latest-comments {
    padding: 0;
  }
  
  .sidebar-area .wp-block-latest-comments__comment li {
    margin-bottom: 0;
  }
  
  
  /* ===============================================
     Breadcrumbs
     =============================================== */
  
  .bread_crumb a:hover {
    color: var(--first-color);
  }
  
  .bread_crumb a {
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px;
  }
  
  .bread_crumb span {
    color: var(--first-color);
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px;
  }
  
  .bread_crumb {
    color: #fff;
    position: absolute;
    width: 100%;
    top: 65%;
  }
  
  
  /* ===============================================
     SIDEBARS
     =============================================== */
  
  .sidebar-area {
    color: #000;
  }
  
  .sidebar-area .textwidget img {
    width: 100%;
    height: auto;
  }
  
  .sidebar-area .sidebar-widget {
    margin-bottom: 25px;
    background: #f5f6f7;
    border-radius: 10px;
    padding: 0px 10px;
  }
  
  .sidebar-area a,
  .sidebar-area p,
  .sidebar-area li,
  .sidebar-area address,
  .sidebar-area dd,
  .sidebar-area blockquote,
  .sidebar-area td,
  .sidebar-area th,
  .sidebar-area .textwidget {
    line-height: 1.9em;
    font-weight: normal;
    color: #000000;
  }
  
  footer .sidebar-area a,
  footer .sidebar-area p,
  footer .sidebar-area li,
  footer .sidebar-area address,
  footer .sidebar-area dd,
  footer .sidebar-area blockquote,
  footer .sidebar-area td,
  footer .sidebar-area th,
  footer .sidebar-area .textwidget {
    color: #ffffff;
  }
  
  .sidebar-area ul,
  #calendar_wrap,
  .sidebar-area .textwidget,
  .tagcloud {
    list-style: circle;
    margin: 0;
    padding: 0 0px;
  }
  
  footer .sidebar-area ul,
  footer #calendar_wrap,
  footer .sidebar-area .textwidget,
  footer .tagcloud {
    list-style: none;
  }
  
  .sidebar-area li a,
  .sidebar-area li {
    font-size: 15px;
    word-wrap: break-word;
  }
  
  .sidebar-area li {
    padding-bottom: 5px;
    list-style: circle;
    margin-right: 25px;
  }
  
  .sidebar-area ul li {
    position: relative;
    margin-right: 25px;
    list-style: circle;
  }
  
  footer .sidebar-area ul li {
    list-style: none;
    margin-right: 0;
  }
  
  .sidebar-area ul li ul.children li,
  .sidebar-area ul li ul.sub-menu li {
    margin-right: 0;
  }
  
  .sidebar-area ul li::marker,
  .sidebar-area li::marker {
    color: var(--first-color);
  }
  
  .sidebar-area h4.title:before,
  .sidebar-area h1.wp-block-heading:before,
  .sidebar-area h2.wp-block-heading:before,
  .sidebar-area h3.wp-block-heading:before,
  .sidebar-area h4.wp-block-heading:before,
  .sidebar-area h5.wp-block-heading:before,
  .sidebar-area h6.wp-block-heading:before,
  .sidebar-area .wp-block-search__label:before {
    content: '';
    position: absolute;
    height: 4px;
    width: 16%;
    bottom: 12px;
    right: 0;
    background-color: var(--first-color);
  }
  
  .footer-area h4.title:before,
  .footer-area h1.wp-block-heading:before,
  .footer-area h2.wp-block-heading:before,
  .footer-area h3.wp-block-heading:before,
  .footer-area h4.wp-block-heading:before,
  .footer-area h5.wp-block-heading:before,
  .footer-area h6.wp-block-heading:before,
  .footer-area .wp-block-search__label:before {
    display: none;
  }
  
  .sidebar-area h4.title,
  .sidebar-area h1.wp-block-heading,
  .sidebar-area h2.wp-block-heading,
  .sidebar-area h3.wp-block-heading,
  .sidebar-area h4.wp-block-heading,
  .sidebar-area h5.wp-block-heading,
  .sidebar-area h6.wp-block-heading,
  .sidebar-area .wp-block-search__label {
    padding: 20px 0px;
    color: #000;
    font-size: 22px;
    border-bottom: 1px dashed #dfe0e4;
    font-weight: 500;
    position: relative;
  }
  
  .wp-block-search__inside-wrapper {
    margin-top: 10px;
  }
  
  footer .sidebar-area form {
    padding: 0px;
  }
  
  .sidebar-area .wp-block-search__button {
    background: var(--first-color);
    color: #ffffff;
  }
  
  .sidebar-area .tagcloud a,
  p.wp-block-tag-cloud a {
    font-size: 15px !important;
    background: var(--first-color);
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 6px;
  }
  
  footer .sidebar-area .tagcloud a:hover,
  footer p.wp-block-tag-cloud a:hover {
    background: #fff;
    color: #000;
  }
  
  .sidebar-area .tagcloud a:hover {
    background: #000000;
  }
  
  .sidebar-area form {
    padding: 15px 0px;
  }
  
  .sidebar-area select,
  .sidebar-area textarea,
  #comments textarea,
  .sidebar-area input[type="text"],
  #comments input[type="text"],
  .sidebar-area input[type="password"],
  .sidebar-area input[type="datetime"],
  .sidebar-area input[type="datetime-local"],
  .sidebar-area input[type="date"],
  .sidebar-area input[type="month"],
  .sidebar-area input[type="time"],
  .sidebar-area input[type="week"],
  .sidebar-area input[type="number"],
  .sidebar-area input[type="email"],
  .sidebar-area input[type="url"],
  .sidebar-area input[type="search"],
  .sidebar-area input[type="tel"],
  .sidebar-area input[type="color"],
  .sidebar-area .uneditable-input,
  #comments input[type="email"],
  #comments input[type="url"] {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    padding: 5px 2%;
    border: solid 1px #000000;
  }
  
  #wp-calendar th,
  #wp-calendar #today,
  #wp-calendar #today a {
    background: #f3f4f7;
    color: #434343 !important;
  }
  
  #wp-calendar a:hover {
    border: none;
  }
  
  #wp-calendar {
    background: #fff;
    width: 100%;
  }
  
  #wp-calendar caption {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    text-align: right;
  }
  
  #wp-calendar th,
  #wp-calendar td {
    text-align: center;
    font-size: 14px;
    color: #434343 !important;
    padding: 3px 6px;
  }
  
  #wp-calendar td a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #434343 !important;
    text-decoration: underline
  }
  
  #wp-calendar td#prev a,
  #wp-calendar td#prev a {
    text-decoration: none;
    text-align: right;
  }
  
  #wp-calendar th {
    font-weight: bold
  }
  
  tr:nth-child(2n+2) {
    background-color: #f3f4f7;
  }
  
  #footer-widgets caption {
    color: #fff;
  }
  
  #footer-widgets h4 {
    margin-bottom: 30px;
    font-weight: 600;
  }
  
  .searchform label {
    display: block;
  }
  
  .searchform input[type=text],
  .sidebar-area .wp-block-search__input {
    width: calc(100% - 110px);
    margin: 0;
    padding: 12px;
    float: right;
    background-color: #f3f4f7;
    border: none;
  }
  
  .searchform input[type=submit],
  .sidebar-area .wp-block-search__button {
    background: var(--first-color);
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    position: relative;
    float: right;
    text-shadow: none;
    padding: 14px 0;
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: color .3s ease, background-color .3s ease;
    -moz-transition: color .3s ease, background-color .3s ease;
    -o-transition: color .3s ease, background-color .3s ease;
    transition: color .3s ease, background-color .3s ease;
  }
  
  .searchform input[type=submit]:hover,
  .searchform input[type=submit]:focus {
    background-color: var(--first-color);
    text-decoration: none
  }
  
  .searchform:after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background: var(--second-color);
  }
  
  footer .sidebar-area {
    background: none;
    padding: 25px 0 0 0;
  }
  
  .wp-block-group__inner-container h2 {
    color: #fff;
  }
  
  footer a,
  footer p,
  footer .sidebar-area li,
  footer .sidebar-area address,
  footer .sidebar-area dd,
  footer .sidebar-area blockquote,
  footer .sidebar-area td,
  footer .sidebar-area th,
  footer .sidebar-area .title,
  footer .sidebar-area .textwidget {
    color: #fff;
  }
  
  .footer-area ul {
    padding: 0;
  }
  
  .footer-area h4.title {
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    text-transform: none;
    background: transparent;
    border: none;
  }
  
  img.size-auto,
  img.size-full,
  img.size-large,
  img.size-medium,
  img.alignleft,
  img.alignright,
  img.aligncenter,
  .attachment img {
    max-width: 100%;
    height: auto;
  }
  
  .alignleft,
  img.alignleft {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
  }
  
  .alignright,
  img.alignright {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
  }
  
  div.aligncenter,
  img.aligncenter {
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
    float: none;
  }
  
  img.alignleft,
  img.alignright,
  img.aligncenter {
    margin-bottom: 12px;
  }
  
  .wp-caption {
    line-height: 18px;
    margin-bottom: 25px;
    max-width: 100% !important;
    padding: 4px;
    text-align: center;
  }
  
  .wp-caption img {
    margin: 5px 5px 0;
    width: 96%;
    height: 100%
  }
  
  .wp-caption p.wp-caption-text {
    color: #888;
    font-size: 12px;
    margin: 5px;
  }
  
  .sticky {}
  
  .gallery-caption {}
  
  .bypostauthor {}