<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Capacità</title>
    
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- JavaScript -->
    <script src="js/jquery-1.7.1.min.js"></script>
    
    <script>
    $(document).ready(function(){   
    
		//When btn is clicked
		$(".btn-responsive-menu").click(function() {
			$("#mainmenu").toggleClass("show");
		
		});
    
    });
    </script>

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link href="css/schede.css" rel="stylesheet" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
 
</head>
<body>
    <div id="wrapper" class="nofloat">
        <header id="header" class="floatsinistra">

            <h1 id="site-title"><span class="icon"></span><a href="#">&thinsp;CURRICULUM VITAE <span>"MICHELE GENCHI"</span></a></h1>

            <div class="btn-responsive-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

        </header> <!-- #header -->


        <div data-include="menu.html"></div>
            <div id="main">
                <div id="#title" class="nofloat">
                    <h1 class="testo-capolettera"><span class="capolettera_2righe">C</span>APACITÀ &</h1><h1>OMPETENZE</h1>
                </div>
                <div class="tabs">
                    <input type="radio" name="tabs" id="tab1" checked>
                    <label for="tab1">Relazionali</label>

                    <input type="radio" name="tabs" id="tab2">
                    <label for="tab2">Organizzative</label>

                    <input type="radio" name="tabs" id="tab3">
                    <label for="tab3">Tecniche</label>

                    <input type="radio" name="tabs" id="tab4">
                    <label for="tab4">Artistiche</label>

                    <input type="radio" name="tabs" id="tab5">
                    <label for="tab5">Altre</label>


                    <div class="tab-content" id="content1">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">R
                            </span>elazionali</h1>
                        </div>
                            <p>Per la mia personalità, la mia educazione e i miei valori, mi considero una persona socievole, volenterosa, sempre desiderosa di imparare, rispettosa delle regole e delle persone, e non ho mai avuto difficoltà a relazionarmi con terzi; in ambito lavorativo ho maturato, pertanto, un’ottima capacità relazionale e di lavoro di squadra, specie nel ruolo di coordinatore della stessa</p>
                    </div>

                    <div class="tab-content" id="content2">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">O
                            </span>rganizzative</h1>
                        </div>
                        <p>Ottima capacità di gestione del personale da movimentare e della squadra da coordinare; . In campo lavorativo, inoltre,  ho sempre dimostrato la massima serietà e affidabilità, garantendo puntualità e precisione nel portare a termine gli incarichi.</p>
                    </div>

                    <div class="tab-content" id="content3">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">P
                            </span>rogrammazione</h1>
                        </div>
                            Progettazione di microservizi in ambiente Docker</p>
                            <p>Installazione e configurazione di varie distro Linux.</p>
                            <p>Ottima conoscenza e padronanza della programmazione a oggetti, in particolare nel linguaggio Java8/Spring e Php8/Laravel</p>
                            <p>Capacità di risoluzione di problemi di media e grande complessità tramite uso della metodologia object oriented</p>
                            <p>Progettazione di sistemi object oriented, tramite uso delle classi e dei servizi principali messi a disposizione dagli ambienti di progettazione Java (Java Collection Framework, JDBC, NIO 2, I8n, gestione degli errori, multithreading e gestione della rete).</p>
                            <p>Conoscenze di base Html/css e Javascript.
                            Creazione di sito web in Wordpress</p>
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">R
                            </span>eti e Cisco</h1>
                        </div>
                            <p>Competenze approfondite sulle problematiche di ambienti ed infrastrutture di reti complesse: indirizzamento logico/fisico, routing e bridging.</p>
                            <p>Competenze su Firewalling hardware (ACL ed estese) e software
                            progettazione e tuning di reti di media e grande complessità (WAN) </p>
                            <p>ottima conoscenza e padronanza di:</p>
                            <ul style="margin-left:20px">
                            <li>protocolli di Network (IPv4, IPv6)</li>
                            <li>protocolli TCP/IP (gestione delle porte, regole di firewalling e di routing Framerelay, DHCP, NAT/PAT)</li>
                            <li>protocolli di routing dinamico (OSPF, BGP, EIGRP) e statico</li>
                            <li>rotte statiche Livelli ISO/OSI</li>
                            <li>Spanning Tree Protocol, Rapid Spanning Tree, Multiple Spanning Tree</li>
                            <li>servizi di rete (DHCP, NTP, DNS)</li>
                            <li>Quality of Service L2/L3 e relativi servizi Internet</li>
                            </ul>
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">D
                            </span>atabase</h1>
                        </div>
                        <p>Buona conoscenza di : MySQL: interrogazione del database con linguaggio sql</p>
                        <p>Uso di phpmyadmin</p>
                        <p>Uso di Rdms du Mysql</p>
                    </div>

                    <div class="tab-content" id="content4">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">L
                            </span>ibri e lezioni</h1>
                        </div>
                        <p><b>Scrittura di libri di informatica e lezioni private di informatica base e doposcuola per le superiori.</b></p>
                        <p>&nbsp;</p>
                        <p>Libri:</p>
                        <ul style="margin-left:20px">
                            <li>Redazione del libro “Le basi del Networking” Copyright© 2015, manuale relativo alla certificazione Cisco CCNA.</li>
                            <li>Informatica base e office</li>
                            <li>Concetti base JEE</li>
                            <li>OCAJP</li>
                            <li>OCPJP</li>
                            <li>Spring</li>
                            <li>JAVA FX2</li>
                        </ul>
                    </div>

                    <div class="tab-content" id="content5">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">R
                            </span>iparazioni</h1><h1>ed assistenza pc e reti</h1>
                        </div>
                        <p>Riparazione  (hardware e software) pc e smartphone.</p>
                        <p>Progettazione di reti domestiche con supporto alla condivisione dei dati in ambito domestico su sistema Windows/Linux e configurazioni di apparati per la domotica</p>
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">L
                            </span>ezioni</h1><h1>private e doposcuola</h1>
                        </div>
                        <p>Doposcuola delle seguenti materie: informatica, matematica, sistemi e statistica…</p>
                    </div>


                </div>
            </div>
    </div>
</body>
<script src="js/include.js"></script>
<script src="js/schede.js"></script>
</html>


	
