<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Link</title>
    
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- JavaScript -->
    <script src="js/jquery-1.7.1.min.js"></script>
    
    <script>
    $(document).ready(function(){   
    
		//When btn is clicked
		$(".btn-responsive-menu").click(function() {
			$("#mainmenu").toggleClass("show");
		
		});
    
    });
    </script>

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
 
</head>
<body>
    <div id="wrapper" class="nofloat">
        <header id="header" class="floatsinistra">

            <h1 id="site-title"><span class="icon"></span><a href="#">&thinsp;CURRICULUM VITAE <span>"MICHELE GENCHI"</span></a></h1>

            <div class="btn-responsive-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

        </header> <!-- #header -->

        <div data-include="menu.html"></div>
        <div id="main">
            <div id="content" class="nofloat">
                <div id="#title">
                    <h1 class="testo-capolettera"><span class="capolettera_2righe">L</span>INK</h1><h1>UTILI</h1>
                    <br>
                    <br>
                <nav class="link-menu">
                <ul>
                    <li><a href="https://www.linkedin.com/in/michele-genchi-389ab5111/" target="_blank"><img src="image/linkedin.png" target="_blank">&nbsp;LINKEDIN</a></li>
                    <li><a href="https://github.com/MicheleGenchi?tab=repositories" target="_blank"><img src="image/github.png">&nbsp;GITHUB</a></li>
                    <li><a href="https://www.youtube.com/@michelegenchi" target="_blank"><img src="image/youtube.png">&nbsp;YOUTUBE</a></li>
                    <li><a href="(CVE)_Michele_Genchi.pdf" target="_blank"><img src="image/CV.png">&nbsp;SCARICA CURRICULUM</a></li>
                </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
<script src="js/include.js"></script>
</html>


	
