<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Esperienze</title>
    
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- JavaScript -->
    <script src="js/jquery-1.7.1.min.js"></script>
    
    <script>
    $(document).ready(function(){   
    
		//When btn is clicked
		$(".btn-responsive-menu").click(function() {
			$("#mainmenu").toggleClass("show");
		
		});
    
    });
    </script>

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link href="css/schede.css" rel="stylesheet" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
 
</head>
<body>
    <div id="wrapper" class="noflaot">
        <header id="header" class="floatsinistra">

            <h1 id="site-title"><span class="icon"></span><a href="#">&thinsp;CURRICULUM VITAE <span>"MICHELE GENCHI"</span></a></h1>

            <div class="btn-responsive-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

        </header> <!-- #header -->


        <div data-include="menu.html"></div>
            <div id="main">
                <div id="#title" class="nofloat">
                    <h1 class="testo-capolettera"><span class="capolettera_2righe">E</span>SPERIENZE</h1><h1>LAVORATIVE</h1>
                </div>
                <div class="tabs">
                    <input type="radio" name="tabs" id="tab1" checked>
                    <label for="tab1">Kyma Mobilità</label>

                    <input type="radio" name="tabs" id="tab2">
                    <label for="tab2">Sds</label>

                    <input type="radio" name="tabs" id="tab3">
                    <label for="tab3">Sincon</label>

                    <input type="radio" name="tabs" id="tab4">
                    <label for="tab4">Tct</label>

                    <input type="radio" name="tabs" id="tab5">
                    <label for="tab5">Altre</label>


                    <div class="tab-content" id="content1">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">K
                            </span>YMA</h1><h1>MOBILITÀ</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>Aprile 2024 – Dicembre 2024 </td></tr>
                                <tr><th>Tipo di azienda<br>o settore</th><td>Azienda di servizio trasporti (municipalizzata Taranto)</td></tr>
                                <tr><th>Tipo di impiego</th><td>Impiegato</td></tr>
                                <tr><th>Principali mansioni<br>e responsabilità</th><td><u>Tecnico :</u>
                                <ul style="padding-left:30px">
                                    <li>Montaggio e Riparazione PC</li>
                                    <li>Problem solving hardware e software</li>
                                    <li>Problem solving reti</li>
                                    </ul>
                                    <p>Con agenzie interinali Synergie ed E-Work</p>
                                </td></tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-content" id="content2">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">SDS
                            </span></h1><h1>SERVIZI INFORMATICI</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>Settembre 2022 –Maggio 2023 </td></tr>
                                <tr><th>Tipo di azienda<br>o settore</th><td>Azienda di servizi informatici</td></tr>
                                <tr><th>Tipo di impiego</th><td>Impiegato</td></tr>
                                <tr><th>Principali mansioni<br>e responsabilità</th><td><u>Programmatore, sviluppo web:</u>
                                <ul style="padding-left:30px">
                                    <li>lato backend con uso php8 / laravel</li>
                                    <li>utilizzo e cofigurazione di Visual Studio</li>
                                    <li>utilizzo e configurazione di Docker</li>
                                    <li>Container singolo per il database</li>
                                    <li>Container con il microservizio  geo-tools</li>
                                    <li>Lettura di due tabelle in join  one to many</li>
                                    <li>Dati trovati su file csv su internet con le informazioni di geolocalizzazione</li>
                                    <li>Con degli script trasformati i file csv in array associativi per php</li>
                                    </ul>
                                    <p>Contratto a tempo determinato</p>
                                </td></tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-content" id="content3">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">SINCON
                            </span></h1><h1>SERVIZI INFORMATICI</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>Novembre 2019 –Febbraio 2020</td></tr>
                                <tr><th>Tipo di azienda<br>o settore</th><td>Azienda di servizi informatici</td></tr>
                                <tr><th>Tipo di impiego</th><td>Impiegato</td></tr>
                                <tr><th>Principali mansioni<br>e responsabilità</th><td><u>Programmatore, sviluppo web:</u>
                                <ul style="padding-left:30px">
                                    <li>lato backend con uso spring</li>
                                    <li>frontend in javascript (jquery, ajax)</li>
                                    <li>utilizzo e cofigurazione di Eclipse;</li>
                                    <li>utilizzo e configurazione di VirtualBox</li>
                                    <li><a href="https://e2.udemymail.com/ls/click?upn=ZF3sOyS2SxEPIoSZT6Aoc-2BEAPso9xRA49IDbkpAnXinZJPAr8irhCfKssa3Zou3B-2BIh4MFJhDqBuDMlw-2BbrTQxr7Jxkw2vnMklBPeFfiY8DZkbgR0M-2FFTwcWGPx4PB9pOhC36J35LHoIpC9W149-2B-2B4aHTCM1uzEaGZmNb9v0bkgtn21NCCk63F9NGqLl6dNX-2Bew5v8Tq9S9Lt4WZvF62XV-2B68V2u-2BsTlZptbPZSj3es-3DrRdN_J4VI-2BqzjCUNheR5phRB-2B-2B4-2BzpywPWZHuS6i8KJ-2BspDaZ-2FsplYWvDg4RZPImxRy8Sv0YE2jbFecY6Lwlly9i3SBAw9fODhk6QhixfOleTEgxY-2BCOFID8Zg2-2BCM3dZJEPVvDM5mmXWGfDRJzfFIY2Lgq-2F5Kz0Fu7zLBMC1EA1cwACzu1QD1MuND9OZCDqXqvVTxeEOhccxNloxffawXr10-2BTUUMtl-2BQGireHESpbe42vlQihcbhUHZrTWMDxYF8aOv7-2FEDFCi8VeYU8-2FMqv8H5KN89RkidKD0ekLFT3Q5i0MqsxvlNCObt9hhpLyEJfIAPSyODMqY16Spt1mit-2BMmZ4OeDF5fpMISeh-2BqS0RRaPUtSw-2BpFTtq9jDRZmtJL2-2FKY5kQtKRGCc4mkFdQ-2BjO81OcBEvFf6fWaPt5ZcjG-2BWHrg-3D">Corso Udemy di Spring & Hibernate for Beginners (includes Spring Boot)
Insegnate Chad Darby.</a></li>
                                    </ul>
                                    <p>Creazione di un progetto (CRUD completo) per esercizio</p>
                                </td></tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-content" id="content4">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">TCT
                            </span></h1><h1>PORTO</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>gennaio 2002 – maggio 2015</td></tr>
                                <tr><th>Tipo di azienda<br>o settore</th><td>Azienda di infrastrutture portuali</td></tr>
                                <tr><th>Tipo di impiego</th><td>Impiegato</td></tr>
                                <tr><th>Principali mansioni<br>e responsabilità</th><td>
                                    Yard planner, pianificatore di piazzale con responsabilità di coordinamento della movimentazione dei container e del personale, attraverso l’uso dei software aziendali Topx Advanced e Mui.
                                    <b>Contratto a tempo indeterminato - Azienda fallita nel 2015</b>
                                </td></tr>
                                <tr><td colspan="2"></td></tr>
                                <tr><th>Data (da - a)</th><td>dicembre 2000 – gennaio 2002</td></tr>
                                <tr><th>Tipo di azienda<br>o settore</th><td>Azienda di infrastrutture portuali</td></tr>
                                <tr><th>Tipo di impiego</th><td>Impiegato</td></tr>
                                <tr><th>Principali mansioni<br>e responsabilità</th><td>
                                    <p>Programmatore su piattaforma Oracle, </p>
                                    <p>gestione database PL/SQL </p>
                                    <b>Nella medesima azienda, inizialmente ero nel dipartimento ICT</b>
                                </td></tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-content" id="content5">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">A
                            </span>LTRE</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>dal 2000 </td></tr>
                                <tr><th>Tipo di azienda<br>o settore</th><td>Riparazioni / Reti ed Assemblaggio</td></tr>
                                <tr><th>Principali mansioni<br>e responsabilità</th><td>
                                <ul style="padding-left:30px">
                                    <li>Problemi hardware</li>
                                    <li>Problemi software: installazioni di sistemi operativi Windows e Linux</li>
                                    <li>Acquisto dei componenti per guasti e/o per upgrade</li>
                                    <li>Risoluzioni per reti domestiche</li>
                                    <li>Installazione e configurazione di dispositivi di reti:
                                    router, stampanti di reti e prese domotiche</li>
                                    <li>Condivisione di file</li>
                                    </ul>
                                </td></tr>
                                <tr><td colspan="2"></td></tr>
                                <tr><th>Data (da - a)</th><td>dal 2023 </td></tr>
                                <tr><th>Tipo di azienda<br>o settore</th><td>Tedesco Cunsulting</td></tr>
                                <tr><th>Principali mansioni<br>e responsabilità</th><td>
                                Creazione siti web in Wordpress
                                <ul style="padding-left:30px">
                                    <li>Acquisto di domini</li>
                                    <li>Problemi solving</li>
                                    <li>Creazione di siti interi, vetrina ed e-commerce</li>
                                    <li>Manutenzione e gestione del sito</li>
                                </ul>
                                </td></tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</body>
<script src="js/include.js"></script>
<script src="js/schede.js"></script>
</html>


	
