<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Curriculum Vitae "Michele Genchi"</title>
    
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- JavaScript -->
    <script src="js/jquery-1.7.1.min.js"></script>

    <script>
    $(document).ready(function(){   
    
		//When btn is clicked
		$(".btn-responsive-menu").click(function() {
			$("#mainmenu").toggleClass("show");
		
		});
    
    });
    </script>

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

    <style>
        p {
           text-align: justify;
           margin-bottom:5px;
        }
    </style>

</head>

<body>
    <div id="wrapper" class="nofloat">
        <header id="header" class="floatsinistra">

            <h1 id="site-title"><span class="icon"></span><a href="#">&thinsp;CURRICULUM VITAE <span>"MICHELE GENCHI"</span></a></h1>

            <div class="btn-responsive-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

        </header> <!-- #header -->

        <div data-include="menu.html"></div>
        <div id="main">
            <div id="#title">
                <h1 class="testo-capolettera"><span class="capolettera_2righe">L</span>ETTERA</h1>
                <h1>DI PRESENTAZIONE</h1>
            </div>
            <div id="content">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Buongiorno, sono Genchi Michele, con questa lettera vorrei sottoporre alla Vostra cortese attenzione il mio interesse per un’opportunità di lavoro all’interno della Vostra azienda.</p>
                <p>Ho sempre avuto uno spiccato interesse per il mondo informatico, come dimostra il mio percorso di studi: dopo aver conseguito il Diploma di Perito informatico nel 1998 sono stato assunto dal porto di Taranto T.C.T. nel reparto I.T.C , all’interno del quale, dopo aver seguito un corso di Oracle Developer, ho sviluppato col mio team un software di gestione amministrativa e logistica del porto. Successivamente, notando la mancanza di prospettive e, fattore di importanza ancora maggiore, di formazione all’interno dello stesso dipartimento, ho deciso di cambiare settore. Nel 2014, approfittando della CIGS che l’Azienda portuale ha somministrato all’intero personale, ho impiegato il mio tempo e le mie energie per riqualificarmi nel settore informatico. Ho iniziato con lo studio delle reti, conseguendo la certificazione Cisco CCNA routing&switching 2015.</p>
                <p>Successivamente, ho frequentato un corso di Oracle Java Advance (OCPJP), del quale possedevo già le basi; al termine del corso ho conseguito la certificazione OCAJP ed ho seguito il corso tenuto da Chad Darby su Spring & Hibernate, completamente in inglese; a tal proposito specifico di scrivere e parlare nella suddetta lingua a livello discreto. In seguito, ho cominciato a realizzare progetti sulla parte grafica di Java con SceneBuilder e applicazioni web con lo studio della classe Servlet, fino ad arrivare alla progettazione con Springboot. Come database ho utilizzato principalmente Mysql ed un po' di MSSQL e ho successivamente imparato a fare interrogazioni più complesse.</p>
                <p>Aggiungo di essere una persona socievole, volenterosa, sempre desiderosa di imparare, rispettosa delle regole e delle persone, in campo lavorativo ho sempre dimostrato la massima serietà e affidabilità, garantendo puntualità e precisione nel portare a termine gli incarichi. Tra i miei punti di forza ci sono sicuramente la velocità nell’apprendere nuovi compiti, il problem solving e la capacità di fare lavoro di squadra, gestendo in maniera costruttiva e positiva lo stress.</p>
                <p><b>A fronte di queste caratteristiche, ritengo di essere la persona giusta per la Vostra azienda; pertanto, in attesa di un Vostro riscontro, Vi ringrazio  per l’attenzione accordatami e porgo cordiali saluti.</b></p>
            </div>
        </div>
    </div>
</body>
<script src="js/include.js"></script>
</html>
