<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Istruzione</title>
    
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- JavaScript -->
    <script src="js/jquery-1.7.1.min.js"></script>
    
    <script>
    $(document).ready(function(){   
    
		//When btn is clicked
		$(".btn-responsive-menu").click(function() {
			$("#mainmenu").toggleClass("show");
		
		});
    
    });
    </script>

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link href="css/schede.css" rel="stylesheet" />
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
 
</head>
<body>
    <div id="wrapper" class="noflaot">
        <header id="header" class="floatsinistra">

            <h1 id="site-title"><span class="icon"></span><a href="#">&thinsp;CURRICULUM VITAE <span>"MICHELE GENCHI"</span></a></h1>

            <div class="btn-responsive-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

        </header> <!-- #header -->


        <div data-include="menu.html"></div>
            <div id="main">
                <div id="#title" class="nofloat">
                    <h1 class="testo-capolettera"><span class="capolettera_2righe">I</span>STRUZIONE</h1><h1>FORMAZIONE</h1>
                </div>
                <div class="tabs">
                    <input type="radio" name="tabs" id="tab1" checked>
                    <label for="tab1">Microservizi/Docker</label>

                    <input type="radio" name="tabs" id="tab2">
                    <label for="tab2">Spring & Hibernate</label>

                    <input type="radio" name="tabs" id="tab3">
                    <label for="tab3">OCPJP 7</label>

                    <input type="radio" name="tabs" id="tab4">
                    <label for="tab4">OCAJP 7</label>

                    <input type="radio" name="tabs" id="tab5">
                    <label for="tab5">CCNA Routing & Switching</label>


                    <div class="tab-content" id="content1">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">M
                            </span>ICROSERVIZI</h1><h1>DOCKER</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>Febbraio 2023 – Maggio 2023 </td></tr>
                                <tr><th>Nome e tipo<br>di istituto<br>di istruzione<br>o formazione</th><td>Sds S.r.l., Piazza Dante 5, 74121 Taranto</td></tr>
                                <tr><th>Principali<br>materie/abilità professionali<br>oggetto dello studio</th><td>
                                <u>Argomenti del corso:</u>
                                <ul style="padding-left:30px">
                                    <li>Installazione e configurazione Docker su Windows</li>
                                    <li>Comandi base di Dockerfile</li>
                                    <li>Comandi in phyton di Docker-compose</li>
                                    <li>Creazione del primo microservizio di business</li>
                                    <li>Creazione del microservizio per il database</li>
                                    <li>Configurazione Visual code per Docker</li>
                                    </ul>
                                    <p>Formazione di pochi mesi per la progettazione del nuovo software aziendale con l'implementazione di microservizi in php/laravel</p>
                                </td></tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-content" id="content2">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">Spring
                            </span> & Hibernate for Beginners </h1><h2> (includes Spring Boot)</h2>
                            <table>
                                <tr><th>Data (da - a)</th><td>2019</td></tr>
                                <tr><th>Nome e tipo<br>di istituto<br>di istruzione<br>o formazione</th><td>
<a href="https://www.udemy.com/course/spring-hibernate-tutorial/" target="_blank">UDEMY - Spring & Hibernate for Beginners (includes Spring Boot)</a></td></tr>
                                <tr><th>Principali<br>materie/abilità<br>professionali<br>oggetto dello studio</th><td><u>Argomenti del corso:</u>
                                <ul style="padding-left:30px">
                                        <li>Spring 5: Learn Spring 5 Core</li>
                                        <li>AOP</li>
                                        <li>Spring MVC</li>
                                        <li>Spring Security</li>
                                        <li>Spring REST</li>
                                        <li>Spring Boot 2</li>
                                        <li>Thymeleaf</li>
                                        <li>JPA & Hibernate</li>
                                </td></tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-content" id="content3">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">O
                            </span>racle Certified Professional</h1><h1>Java SE 7 Programmer)</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>Aprile 2016</td></tr>
                                <tr><th>Nome e tipo<br>di istituto<br>di istruzione<br>o formazione</th><td>Futureservice Scuola Vega, via Mecenate 139, Brindisi</td></tr>
                                <tr><th>Principali materie/abilità<br>professionali<br>oggetto dello studio</th>
                                <td><u>Argomenti del corso:</u>
                                    <ul style="padding-left:30px">
                                        <li><b>Progettazioni Classi Java</b>
                                        concetti della object oriented
                                        classi astratte, innestate e anonime,
                                        interfacce ed enum.</li>

                                        <li><b>Design Pattern più conosciuti</b> Singleton, Factory, DataAccessObject (DAO), Observer.</li>

                                        <li><b>Generics e collections</b>
                                        Creazione di classi generiche, metodi generici, utilizzo dei parametri jolly. Framework Collection: ArrayList, Iterator, ListIterator, LinkedList, HashSet, TreeSet, HashMap, NavigableMap, Queue, Deque, Comparable e Comparator, Arrays.</li>

                                        <li><b>Elaborazione di stringhe</b>
                                        Ricerca (metodi regionMatches(), indexOf(), ecc).
                                        Parsing di Stringhe: metodo split().
                                        Regular Expressions: comprendere i simboli regex, ricerca e parsing tramite regex. Formattazione di stringhe.</li>

                                        <li><b>Concetti base sull’I/O</b>
                                        Leggere e scrivere dalla console.Utilizzo degli streams (Character Streams e Byte Streams) per leggere e scrivere da file.</li>

                                        <li><b>NIO.2</b>
                                        Utilizzo dell’interfaccia Path e della classe File. Copiare, muovere e cancellare un File. Navigare una directory per ricercare dei file. Osservare una directory per ricevere notifiche sui cambiamenti al suo interno.</li>

                                        <li><b>Database e connession JDBC</b>
                                        Introduzione al JDBC. Tipi di driver e creazione database. Connessione al database tramite driver JDBC. Query, Statement e Transaction sul database.</li>

                                        <li><b>Eccezioni ed errori</b>
                                        Lo stack trace. blocco try - catch - finally e try - with - resources. Propagazione delle eccezioni. Multiple catch blocks e multi-catch blocks. Eccezioni personalizzate.e le Assertions.</li>
                                    </ul>
                                </td></tr>
                                <tr><th>Certificazione<br>Attestato</th><td>
                                    <a href="image/Attestato_frequenza_Java_OCP_genchi.jpg" target="_blank">Certificate of Course Completion <br><b>PROGRAMMAZIONE JAVA OCP</b></td>
                            </table>
                        </div>
                    </div>

                    <div class="tab-content" id="content4">
                        <div id="#title" class="nofloat">
                           <h1 class="testo-capolettera"><span class="capolettera_2righe">O
                            </span>racle Certified Associate</h1><h1>Java SE 7 Programmer)</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>27 Aprile 2016</td>
                                <td><a href="image/eCertificate.jpg" target="_blank">Oracle Certificate</a></td></tr>
                            </table>
                        </div>
                    </div>

                    <div class="tab-content" id="content5">
                        <div id="#title" class="nofloat">
                            <h1 class="testo-capolettera"><span class="capolettera_2righe">C
                            </span>CNA</h1><h1>routing & switching</h1>
                            <table>
                                <tr><th>Data (da - a)</th><td>dal 2000 </td></tr>
                                <tr><th>Nome e tipo<br>di istituto<br>di istruzione<br>o formazione</th><td>Scuola Arcadia piazza Dante 25, 74121 Taranto </td></tr>
                                <tr><th>Principali<br>materie/abilità<br>professionali<br>                             oggetto dello studio</th>                               <td><u>Argomenti del corso:</u>
                                   <ul style="padding-left:30px">
                                        <li>Funzionamento delle reti dati IP, tecnologie di commutazione LAN, indirizzamento IP IPv4 e IPv6, tecnologie di routing IP, servizi IP, sicurezza dei dispositivi di rete, risoluzione dei problemi, tecnologie WAN.</li>
                                        <li>Implementazione di politiche di security (Access Control List, AAA, Inspection di pacchetti) su Firewall Cisco (PIX, ASA)</li>
                                        <li>Conoscenze tecnologiche approfondite relativamente alle reti di telecomunicazioni</li>
                                        <li>Indirizzamento logico/fisico, routing e bridging.</li>
                                        <li>competenze su Firewalling hardware (ACL ed estese) e software</li>
                                        <li>Protocolli di routing dinamico (OSPF, BGP, EIGRP) e statico</li>
                                        <li>Rotte statiche Livelli ISO/OSI</li>
                                        <li>Spanning Tree Protocol, Rapid Spanning Tree, Multiple Spanning Tree</li>
                                        <li>Servizi di rete (DHCP, NTP, DNS)</li>
                                        <li>Quality of Service L2/L3 e relativi servizi Internet
                                        <li>principali tecnologie Switch</li>
                                        <li>Software Cisco IOS</li>
                                   </ul>
                                </td>
                                <tr><th>Qualifica conseguita</th><td>Sistemista di reti CCNA Cisco Certified Network Associate</td></tr>
                                <tr><th>Livello nella classificazione nazionale</th>
                                <td><a href="image/Certificazione_Cisco.compressed.jpg" target="_blank">CCNA Cisco Certified Network Associate</a></td></tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
    </div>
</body>
<script src="js/include.js"></script>
<script src="js/schede.js"></script>
</html>


	
